body{
  position: absolute;
  padding-top: 2vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherDetails {
  font-size: 80%;
}

.icon {
  width: 35vw;
  height: 35vw;
}
